$color-primary-1: hsl(193, 38%, 86%);
$color-primary-2: hsl(150, 100%, 66%);

$color-secondary-1: hsl(217, 19%, 38%);
$color-secondary-2: hsl(217, 19%, 24%);
$color-secondary-3: hsl(218, 23%, 16%);

$font-display: "Manrope", sans-serif;
